{{- $item := (output "op" "item" "get" "rws/git-client-cert" "--format" "json") | fromJson -}}
{{- range $f := $item.fields -}}{{- if eq $f.label "privateKey" -}}{{ $f.value }}{{- end -}}{{- end -}}

