[credential]
  helper = manager
  credentialStore = secretservice

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[http "https://git.rws.nl"]
  sslCert = {{ printf "%s/certs/cert.pem" .chezmoi.homeDir | quote }}
  sslKey  = {{ printf "%s/certs/PRIVATE.key" .chezmoi.homeDir | quote }}

[http "https://gitlab.at.rws.nl"]
  sslCert = {{ printf "%s/certs/cert.pem" .chezmoi.homeDir | quote }}
  sslKey  = {{ printf "%s/certs/PRIVATE.key" .chezmoi.homeDir | quote }}